<div class="container full-width" id="shelf-container">
  <div class="row">
    
    <!-- INGREDIENT ADDER -->
    <div class="col-md-3 liqs_adder alt-font white-text">
      
      <br>
        ADD INGREDIENTS TO YOUR SHELF
    
      <div class="col-md-12">
         <form>
          <br>
          <input class="form-control" id="ingredient_search" type="text"/>
        </form>
      </div>
      
      <div class="col-md-12">
        <br>
        <hr>
      </div>

      <div class="col-md-12 shelf-ingredients text-center">
          <% @ingredients.order(:name).each do |i| %>
            <div class="ingli">
             <%= link_to i.name, add_ingredient_path(@shelf, i) %>
              <br>
            </div>
          <% end %>
      </div>
    </div>

    <!--  SHELFED INGREDIENTS -->

    <div class="col-md-2 shadowed text-center white-text large-text" id="submit_box">
      +
    </div>

    <% @shelf.ingredients.order(:name).each do |i| %>

      <div class="col-md-2 liq-ing shadowed text-center">    

          <% if i.category == "Spirit" %> 
            <%= image_tag ("bottle_fat.png"), class: "bottle" %>  
          <% elsif i.category == "Liqueur" %> 
            <%= image_tag ("bottle_tall.png"), class: "bottle" %>
          <% elsif i.category == "Mix" %> 
            <%= image_tag ("bottle_mix.png"), class: "bottle" %>
          <% else %>
            <%= image_tag ("bottle_popmix.png"), class: "bottle" %>
          <% end %>

        <div class="liqtext alt-font">
          <%= i.name %>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="container">

  <% @drinks.each do |d| %>
  
    <%# if @shelf.ingredients.all? { |a| d.ingredients.include?(a) } %>
    
    <% if (@shelf.ingredients & d.ingredients == d.ingredients) %>
      
      <div class="col-md-2 liq-ing text-center shadowed white-text">
        <%= d.name %>
      </div>

    <% end %>

  <% end %>

</div>





