<div class="container" id="shelf-container">
  <div class="row">
    
    <!-- INGREDIENT ADDER -->
    <div class="col-md-3 liqs_adder alt-font white-text">
      
      <br>
        ADD INGREDIENTS TO YOUR SHELF
    
      <div class="col-md-12">
         <form>
          <br>
          <input class="form-control" id="ingredient_search" type="text"/>
        </form>
      </div>
      
      <div class="col-md-12">
        <br>
        <hr>
      </div>

      <div class="col-md-12 shelf-ingredients text-center">
          <% @ingredients.order(:name).each do |i| %>
            <div class="ingli">
              <%= link_to i.name, add_ingredient_path(@shelf, i) %>
              <br>
            </div>
          <% end %>
      </div>
    </div>

    <!--  SHELFED INGREDIENTS -->

    <div class="col-md-2 shadowed text-center white-text large-text alt-font" id="submit_box">
      <span class="glyphicon glyphicon-ok"></span>
      <h5 id="drink_counter"> Submit </h5>
    </div>

    <% @shelf.ingredients.order(:name).each do |i| %>

      <div class="col-md-2 liq-ing shadowed text-center">    

          <div class="remove_ingredient col-md-12 white-text text-left">
            <%= link_to "x", remove_ingredient_path(@shelf, i) %>
          </div>

          <% if i.category == "Spirit" %> 
            <%= image_tag ("bottle_fat.png"), class: "bottle" %>  
          <% elsif i.category == "Liqueur" %> 
            <%= image_tag ("bottle_tall.png"), class: "bottle" %>
          <% elsif i.category == "Mix" %> 
            <%= image_tag ("bottle_mix.png"), class: "bottle" %>
          <% else %>
            <%= image_tag ("bottle_popmix.png"), class: "bottle" %>
          <% end %>

        <div class="liqtext alt-font">
          <%= i.name %>
        </div>

      </div>

    <% end %>

  </div>
</div>

<div class="container" id="drink_container">

    <div class="col-md-2 shadowed text-center white-text large-text alt-font" id="edit_box">
        <h3><span class="glyphicon glyphicon-chevron-up">
          <div class="col-md-12 edit_text alt-font">
            BACK
          </div>
        </span></h3>
    </div>

  <% @drinks.each do |d| %>

    <% di_array = d.ingredients.map { |di| di.name } %>
    <% sh_array = @shelf.ingredients.map { |j| j.name } %>

    <% if di_array & sh_array == di_array %>

      <div class="col-md-2 liq-drink text-center shadowed white-text">
        <div class="drinktext col-md-12">
         <%= link_to d.name, d %>
        </div>
        <div class="col-md-12 drink_ingredients text-center white-text alt-font">
          <%= simple_format d.description %>
          <br>
        </div>
      </div>

    <% end %>



  <% end %>

</div>





