<div class="container white-text">
  
  <%= simple_form_for @drink do |f| %>
  <%= f.input :name, placeholder: "Enter a drink name..." %>
  <%= f.input :description, placeholder: "Enter a description for the drink..." %>
  <%= f.button :submit %>
  
  <br>



    <div class="row">
      <div id="directions" class="col-md-12">
          <h3>Add Ingredients</h3>
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', :f => ingredient %>
          <% end %>
        <div class="links">
          <br>
            <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default" %>
        </div>
      </div>

    </div>
  <% end %>
</div>


