<div class="container">
  <%= @drink.name %>
  <br>
  <%= @drink.description %>
  <br>
  <%= link_to "Edit", edit_drink_path(@drink), class: "btn btn-default" %>
  <%= link_to "Delete", drink_path(@drink) , method: :delete, class: "btn btn-default" %>
</div>

<div class="container">
  <% @drink.ingredients.each do |i| %>
    <hr>
    <%= i.name %>
  <% end %>
</div>