<!DOCTYPE html>
<html>
<head>
  <title>Liqs</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header shadowed">

  <div class="col-md-6 site-title text-center">
    Liqs
  </div>
  <div class="col-md-6 nav-logo-text text-center">
    <%= link_to "ALL DRINKS", drinks_path, class: "nav-link" %>
    <%= link_to "NEW DRINK", new_drink_path, class: "nav-link" %>
    <%= link_to "ADD INGREDIENTS", new_ingredient_path, class: "nav-link" %>
  </div>

</div>

<%= yield %>

</body>
</html>
