<!DOCTYPE html>
<html>
<head>
  <title>Liqs</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header">

  <div class="col-md-6 site-title text-center">
    Liqs
  </div>
  <div class="col-md-6 nav-logo-text text-center">
    <%= link_to "START HERE", shelves_path, method: :post, class: "nav-link" %>
    <%= link_to "ALL DRINKS", drinks_path, class: "nav-link" %>
    <%= link_to "NEW DRINK", new_drink_path, class: "nav-link" %>
    <% if current_user %>
      <%= link_to "SIGN OUT", logout_path, method: :post, class: "nav-link" %>
    <% else %>
      <%= link_to "SIGN IN", login_path, class: "nav-link" %>
      <%= link_to "SIGN UP", signup_path, class: "nav-link" %>
    <% end %>
  </div>

</div>

<%= yield %>

</body>
</html>
